@import "./vars";

body {
  margin: 0;
}

.h-100 {
  height: 100%;
}

.d-flex,
%d-flex {
  display: flex;
}
.flex-centered,
%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-center,
%justify-center {
  justify-content: center;
}

.justify-flex-end,
%justify-center {
  justify-content: flex-end;
}

.align-center,
%align-center {
  align-items: center;
}

.align-end,
%align-end {
  align-items: flex-end;
}

.align-start,
%align-start {
  align-items: flex-start;
}

.justify-end,
%justify-end {
  justify-content: flex-end;
}

.justify-between,
%justify-between {
  justify-content: space-between;
}

.justify-around,
%justify-around {
  justify-content: space-around;
}

.justify-evenly,
%justify-evenly {
  justify-content: space-evenly;
}

.flex-wrap,
%flex-wrap {
  flex-wrap: wrap;
}

.align-content-start,
%align-content-start {
  align-content: flex-start;
}

.flex-one,
%flex-one {
  flex: 1;
}

.flex-column,
%flex-column {
  flex-direction: column;
}

.flex-column-reverse,
%flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row-reverse,
%flex-row-reverse {
  flex-direction: row-reverse;
}

.d-none {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.align-self-end {
  align-self: flex-end;
}

.justify-self-end {
  justify-self: flex-end;
}

//image
%image-cover,
.image-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

//
.w-100,
%w-100 {
  width: 100%;
}

.w-20,
%w-20 {
  width: 20%;
}

.w-30,
%w-30 {
  width: 30%;
}

//margins
.my-10px,
%my-10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20px,
%my-20px {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper-padding,
%wrapper-padding {
  padding: $padding-val;
  box-sizing: border-box;
 
}

.wrapper-padding::before,
%wrapper-padding::before{
  content: "";
background-image: url("https://i.imgur.com/ksypSQI.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  opacity: 0.5;
}

.timer{
  display : flex;
  justify-content: center;
  font-size: 90px;
  font-weight: 700;
  color: white
}

.breaker {
  position: relative;

  &::before {
    height: 5px;
    content: "";
    position: absolute;
    top: 100%;
    width: 40px;
    background: $accent-color;
  }
}

.input-white-box{
  display: flex;
      align-items: center;
      padding: 10px 0;
      background: rgba(194, 190, 190, 0.05);
      border-radius: $border-radius;
      margin-bottom: 10px;
}

.form-group {
  box-sizing: border-box;
  .input-group {
    border-radius: $border-radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      width: 60%;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      font-size: 0.8rem;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    div.input-box {
      display: flex;
      align-items: center;
      padding: 10px 0;
      background: rgba(0, 0, 0, 0.05);
      border-radius: $border-radius;
      margin-bottom: 10px;

      input,
      select,
      textarea {
        flex: 1;
        background: transparent;
        border: none;
        font-family: $primary-font;
        font-size: 1.04rem;
        padding: 0 10px ;
        &::placeholder {
          font-family: $primary-font;
        }

        &:active,
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.input-screen{
  color: white;
  background-color: rgb(51, 49, 49);
  width : 100%;
  height : 40px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button{
  background-color: rgb(22, 22, 126);
  color : white;
  width : 100%;
  font-size:  14px;
  height : 40px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.form-button{
  display: flex;
  justify-content: center;
}

.main-dash{
  display: flex;
  flex-direction: row;
  background-color: black;
  height:  100vh;
}

.sidebar{
  width : 17vw;
  background-color: rgb(22, 18, 18);
  margin : 5px 5px 5px 0px;
  border-radius: 0px 10px  10px 0px;
}

.title-red{
 font-size: 30px;
    color: red;
    font-family: cursive;
}
.title-blue{
  font-size: 30px;
  color: blue;
  font-family: cursive;
}
.opt-row{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20%;
}
.options{
  background-color: black;
  height : 40px;
  width  : 90%;
  color : red;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: 600;
  margin : 5%;
}

.selectedoptions{
  background-color: red;
  height : 40px;
  width  : 90%;
  color : white;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: 600;
  margin : 5%;
}

.options:hover{
  cursor: pointer; 
  background-color: rgb(243, 51, 51);
  color: white;
}

.nav-bar{
  background-color: rgb(19, 18, 18);
  height :9vh;
  width: 83vw;
}

.selected-tab{
  color : red;
  font-size: 22px;
  padding : 12px;
}

.main-body{
  background-color: rgb(22, 21, 21);
  margin: 3px;
  height: 89vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.upper-dash{
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 20vh;
  margin : 10px;
  justify-content: space-around;
}

.info-bar{
  text-align: center;
  padding: 20px;
  background-color: rgb(35, 35, 36);
  width: 34vw;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;

}

.add-box{
  margin-top: 15vh;
  padding : 70px;
  height : 40vh;
  background-color: rgb(26, 25, 25);
  width : 60vw;
  box-shadow: 5px 10px #252525;
} 

.emails-row{
  display: flex;;
  width: 80vw;
  justify-content: space-between;
  padding : 10px;
  background-color: rgb(24, 22, 22);
  font-size: 20px;
  font-weight: 600;
}

.analyze-link{
  color: blue;
}

.analyze-link:hover{
  cursor: pointer; 
}